/* =========================
 BASE GLOBAL UNIFICADA 
========================= */

/* RESET PRO */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

/* BODY (SIN LAYOUT) */
body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/*
   CONTAINER APP (BASE)*/
.container.app {
    width: 100%;
    max-width: 420px; 

    height: 100dvh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    background: black;

    padding: 20px 15px;
    padding-top: 60px;
    padding-bottom: calc(60px + env(safe-area-inset-bottom));

    overflow: hidden;

    
}

/*  BLOQUES FIJOS */
.menu-header {
    flex-shrink: 0;
}

.buscador {
    flex-shrink: 0;
}

/* INICIO APP (ICONOS)*/
.apps {
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.apps div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.apps img {
    width: 45px;
}

.apps p {
    font-size: 11px;
    max-width: 70px;
    text-align: center;
    line-height: 1.2;
    white-space: normal;
}

.app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.app-item p {
    margin-top: 6px;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
}

/* TEXTO GENERAL */
.texto-apps {
    text-align: center;
    color: #5fd14f;
    font-size: 12px;
    margin: 20px 0;
}

/*UTILIDADES*/
.letrero-cl {
    width: 70px;
    max-width: 40%;
    display: block;
    margin: 10px auto;
}

img {
    max-width: 100%;
    height: auto;
}
/* =========================
  FIN GLOBAL LIMPIO
========================= */


/*AQUI EMPIEZAN LAS PANTALLAS DE LA  APP*/


/* =========================
   SPLASH (INDEX)
========================= */
body.splash {
    /* sin reglas aquí */
}

/*  CONTENEDOR PRINCIPAL */
body.splash .container.app {
    display: flex;
    flex-direction: column;

    justify-content: center; 
    align-items: center;

    text-align: center;

    padding-top: 0; 
  
}

/*BLOQUE INTERNO REAL */
.splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 48px; 

    transform: translateY(-15px); 
}
/* =========================
  FIN SPLASH 
========================= */


/* =========================
   BOTÓN BACK LATERAL PRO
========================= */
.btn-back {
    position: fixed;

    top: 42px; /* 🔥 más abajo */

    left: calc(50% - 210px + 25px); /* 🔥 más hacia adentro */

    width: 32px;
    height: 32px;

    border-radius: 50%;
    border: none;

    background: rgba(255,255,255,0.05);
    color: #777;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}
/* =========================================
   ELEMENTOS COMPARTIDOS PANTALLAS DE INICIO
============================================ */

/* BIENVENIDO */
.bienvenido {
    font-size: 22px;
    margin: 0;

    opacity: 0.8; 
}

/* LOGO */
body.splash .logo {
    width: 100px;
}

/* CLICKLIVE */
.titulo-img {
    width: 150px;
}

/* FRASE */
body.splash .frase-img {
    width: 300px;
    max-width: 80%;
}
/* =========================
FIN RECURSO COMPARTIDOS 
========================= */

/* =========================
  PANTALLA LOGIN
========================= */
body.login .container.app {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    padding-top: 160px; 

    min-height: 100dvh;
}

/*BLOQUES*/
/* SUPERIOR (LOGO + FRASE) */
.login-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 18px;
    margin-bottom: 50px; 
}

/* FORMULARIO */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    width: 100%;
    max-width: 320px;
}

/*  ELEMENTOS */
/* LOGO */
.logo-login {
    width: 70px;
}

/* FRASE */
.frase-login {
    font-size: 13px;
    color: #aaa;
    text-align: center;
    max-width: 260px;
    line-height: 1.5;
}

/* INPUTS */
.input-login {
    width: 100%;
    padding: 14px 16px;

    border-radius: 25px;
    border: 1px solid transparent;

    background: #1f1f1f;
    color: white;

    font-size: 13px;
    text-align: center;

    transition: 0.2s;
}

/* FOCUS */
.input-login:focus {
    outline: none;
    border: 1px solid #5fd14f;
    background: #181818;
}

/* BOTÓN */
.btn-login {
    width: 100%;

    padding: 14px;
    border-radius: 25px;
    border: none;

    background-color: #5fd14f;
    color: black;

    font-weight: 600;
    font-size: 14px;

    margin-top: 18px;

    cursor: pointer;
    transition: 0.2s;
}

/* HOVER */
.btn-login:hover {
    transform: scale(1.02);
    opacity: 0.95;
}

/* TEXTO */
.texto-login {
    font-size: 12px;
    color: #aaa;
    margin-top: 12px;
}

/* CREAR CUENTA */
.crear-cuenta {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

.crear-cuenta a {
    color: #9d4edd;
    text-decoration: none;
}
/* =========================
  FIN LOGIN
========================= */


/* =========================
  PANTALLA REGISTRO 
========================= */

body.registro .container.app {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    padding-top: 120px; /* controla altura general */

    min-height: 100dvh;
}

/* BLOQUE SUPERIOR */
body.registro .login-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 18px;
    margin-bottom: 40px;
}

/* TEXTO (SEPARADO DEL LOGO) */
.texto-registro {
    font-size: 13px;
    color: #aaa;
    text-align: center;
    max-width: 260px;
    line-height: 1.5;

    margin-top: 30px; 
}

/*  FORMULARIO */
body.registro .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    width: 100%;
    max-width: 320px;

    margin-top: 40px; 
}

/*  INPUTS */
.login-form input {
    width: 100%;
    padding: 14px 16px;

    border-radius: 25px;
    background: #1f1f1f;
    border: 1px solid transparent;

    color: white;
    font-size: 13px;

    transition: 0.2s;
}

/* FOCUS */
.login-form input:focus {
    outline: none;
    border: 1px solid #5fd14f;
    background: #181818;
}

/*  CHECK */
.check-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    font-size: 12px;
    color: #aaa;

    margin-top: 5px;
    text-align: center;
}

/*  BOTÓN */
body.registro .btn-login {
    margin-top: 18px;
    width: 100%;

    padding: 14px;
    border-radius: 25px;

    font-weight: 600;
    font-size: 14px;

    transition: 0.2s;
    cursor: pointer;
}

/* HOVER */
body.registro .btn-login:hover {
    transform: scale(1.02);
    opacity: 0.95;
}

/*  LINK FINAL */
body.registro .login-bottom {
    margin-top: 25px;
    text-align: center;

    font-size: 13px;
}

body.registro .login-bottom a {
    color: #9d4edd;
    text-decoration: none;
}
/* =========================
  FIN REGISTRO
========================= */

/* =========================
   PANTALLA PERFIL
========================= */
body.perfil .container.app {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;       
}

/* CONTENIDO GENERAL */
.perfil-content {
    width: 100%;
    max-width: 100%; 

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 10px; 
    gap: 20px;

    text-align: center;
}

/* OCULTAR INPUT FILE */
input[type="file"] {
    display: none;
}

/* BLOQUE SUPERIOR  */
.bloque-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px; 
    
    margin-top: 30px;

}

/* FOTO PERFIL */
.foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.foto-perfil img {
    width: 95px;
    height: 95px;

    border-radius: 50%;
    object-fit: cover;

    border: 2px solid #5fd14f;
}

.foto-perfil span {
    font-size: 12px;
    color: #ccc;
}

/* NOMBRE */
.nombre-usuario {
    color: #5fd14f;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 12px;
}

/* INPUT */
.input-login {
    width: 90%;
    max-width: 340px;

    padding: 10px;

    border-radius: 20px;
    border: none;

    background: #1e1e1e;
    color: white;

    text-align: center;
}

/*BOTÓN EDITAR*/
.btn-editar {
    width: 90%;
    max-width: 340px;

    padding: 11px;

    border-radius: 25px;
    border: none;

    background-color: #5fd14f;
    color: black;

    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px; 
}

/*TEXTO */
.texto-perfil {
    font-size: 13px;
    max-width: 320px;
    line-height: 1.4;
}

/* LOGO */
.letrero-cl {
    margin-top: 6px;     
    margin-bottom: 16px; 
}

/* REDES FULL WIDTH PRO */
.redes-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 24px; 

    width: 100%;   
    max-width: 340px; 

    margin: 0 auto; 

    justify-items: center;
}

/* ICONOS */
.redes-grid img {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* ACTIVO */
.redes-grid img.activa {
    box-shadow: 0 0 12px #5fd14f;
}

/* INTERACCIÓN */
.redes-grid img:active {
    transform: scale(0.95);
}

.texto-pequeno {
    font-size: 10px;      
    max-width: 240px;

    color: #888;         

    text-align: center;
    line-height: 1.3;

    margin-top: 12px;
}

/* BOTÓN GUARDAR */
.btn-guardar {
    width: 90%;
    max-width: 340px;
    margin-top: 18px;

    padding: 13px;

    border-radius: 25px;
    border: none;

    background-color: #5fd14f;
    color: black;

    font-weight: bold;
}

/* UX */
* {
    -webkit-tap-highlight-color: transparent;
}
/* =========================
  FIN PERFIL
========================= */


/* =========================
  PANTALLA DASHBOARD
========================= */
body.dashboard {
    background: black;
    font-family: Arial, sans-serif;
}

/* CONTENEDOR SOLO DASHBOARD */
body.dashboard .container.app {
    display: flex;
    flex-direction: column;

    justify-content: flex-start; 
    align-items: stretch;        


}

/* ESTRUCTURA */

.dashboard-contenido {
    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: space-between; /* 🔥 distribuye como app real */
    align-items: center;
    padding: 20px 25px; /* 🔥 antes 20px */
    width: 100%;
}

/* TOP */
.top {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 12px;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOTO */
.foto-container {
    width: 85px;
    height: 85px;

    border-radius: 50%;
    overflow: hidden;

    border: 2px solid #5fd14f;
}

.foto-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* USUARIO */
.usuario-dashboard {
    color: #5fd14f;
    font-size: 14px;
    margin-top: 20px; 
}


/* BOTÓN PANEL */
.panel {
    color: white;

    padding: 12px 30px;
    border-radius: 30px;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;

    margin-top: 12px;

    /*  fondo correcto */
    background: linear-gradient(145deg, #2a2a2a, #1f1f1f);

    box-shadow: 0 2px 8px rgba(0,0,0,0.5);

    /*  tamaño */
    width: 75%;
    max-width: 300px;

    text-align: center;
}

/*  MIDDLE */

.middle {
    width: 100%;
    flex: 1;

    display: flex;
    align-items: flex-start;
    padding-top: 40px; 

}

/* GRID */
.grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

   gap: 35px 25px; 
    justify-items: center;
}

/*OPCIONES */
.opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion:active {
    transform: scale(0.95);
}

/* ICONOS */
.opcion img {
    width: 90px;
    height: 90px;

    border-radius: 50%;
    background: #5fd14f;

    padding: 18px;

    object-fit: contain;

    box-shadow:
        0 0 0 1px rgba(95, 209, 79, 0.6),
        0 4px 10px rgba(0, 0, 0, 0.6);
}
.opcion img:hover {
    transform: scale(1.05);
}

/* TEXTO */
.opcion p {
    margin-top: 8px;
    font-size: 12px;
    color: #ccc;
}

/* IA */
.opcion.ia img {
    background: #eaeaea;
}
/* =========================
 FIN DASHBOARD
========================= */


/* ========================
   PANTALLA MENU
========================= */
/* RESET DE ESTA PANTALLA */
body.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* CONTENEDOR PRINCIPAL */
body.menu .container.app {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
body.menu .menu-contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
body.menu .menu-header {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* TITULO */
body.menu .titulo-header {
    color: white;
    font-size: 15px;
}

/* LISTA CENTRAL */
body.menu .menu-list {
    flex: 1; 
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

/* ITEMS */
body.menu .menu-list div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 0;
    font-size: 13px;
    color: #cccccc;

    border-bottom: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;

    transition: 0.2s;
}

/* HOVER */
body.menu .menu-list div:hover {
    color: #5fd14f;
}

/* BOTÓN CERRAR SESIÓN (FIJO ABAJO  */
body.menu .logout-btn {
    width: 100%;
    max-width: 420px;

    margin: 0 auto;
    margin-bottom: 25px;

    text-align: center;

    background: transparent;
    border: none;

    color: #5fd14f;
    font-weight: 600;
    font-size: 14px;

    cursor: pointer;
    transition: 0.2s;
}

/*  EMPUJE FINAL */
body.menu .logout-btn {
    margin-top: auto;
}

/* HOVER */
body.menu .logout-btn:hover {
    opacity: 0.7;
}
/* ========================
   FIN MENU
========================= */


/* =========================
 PANTALLA ARCHIVOS
========================= */
body.archivos {
    overflow: hidden;
}

body.archivos .container.app {
    display: flex;
    flex-direction: column;
    
    height: 100vh; 
}

/* CONTENEDOR */
.archivos-contenido {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 100%; 
}
/* TOP */
.top-fijo {
    flex-shrink: 0;
}

/* HEADER */
.titulo-archivos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 20px;
}

/* ACCIONES */
.acciones-archivos {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 30px; 
    margin-bottom: 20px;
}

.accion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px; 
}

.accion img {
    width: 70px;   
    height: 70px;

    border-radius: 50%;

    padding: 12px; 
    background: #5fd14f; 

    object-fit: contain;
}

.accion p {
    font-size: 11px;
    margin-top: 6px;
    text-align: center; 
}

.buscador button {
    width: 45px;
    min-width: 45px;

    background: #5fd14f;
    border: none;

    cursor: pointer;

    font-size: 0;

    display: flex;              
    align-items: center;
    justify-content: center;

    border-left: 2px solid rgba(255,255,255,0.15);
}

.buscador button::after {
    content: "";
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
}

/* CONTENEDOR */
.zona-scroll {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px 0 40px;
}

/* SCROLL */
.zona-scroll::-webkit-scrollbar {
    width: 6px;
}

.zona-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.zona-scroll::-webkit-scrollbar-thumb {
    background: rgba(95, 209, 79, 0.6);
    border-radius: 10px;
}

.zona-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(95, 209, 79, 0.9);
}

/* GRID */
.grid-archivos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* ITEMS */
.archivo-item {
    height: 110px;
    border-radius: 12px;
    overflow: hidden;
}

.archivo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* EMPTY */
.empty-state {
    margin-top: 30px;
    font-size: 13px;
    color: #777;
    text-align: center;
}

/*SEPARADAOR */
.separador {
    flex-shrink: 0; 

    width: 100%;
    height: 1px;

    background: linear-gradient(
        to right,
        transparent,
        rgba(255,255,255,0.25),
        transparent
    );
}

/* FOOTER */
.bottom-fijo {
    flex-shrink: 0;
    width: 100%;

    padding: 20px 0 25px;

    background: black; 
}

/* TEXTO */
.texto-apps {
    text-align: center;
    color: #5fd14f;
    font-size: 12px;

    margin-top: 40px; 
}

.texto-apps {
    text-align: center;
    color: #5fd14f;
    font-size: 12px;
    margin-top: 10px;
}

/* ICONOS APPS */
.app-item img {
    width: 65px;
    height: 65px;

    border-radius: 50%;

    padding: 10px;
    background: #1f1f1f;

    object-fit: contain;

    transition: 0.2s;
}
.apps {
    display: flex;
    justify-content: center;
    gap: 35px; /* más aire */
    margin-top: 15px;
}
/* TEXTO DEBAJO DEL ICONO */
.app-item p {
    font-size: 12px;
    margin-top: 8px;
    text-align: center;
}

/* CONTENEDOR */
.archivo-item {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

/* IMAGEN */
.img-archivo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* BOTÓN CANECA (PRO) */
.btn-eliminar {
    position: absolute;
    top: 6px;
    right: 6px;

    width: 24px;
    height: 24px;

    border: none;
    border-radius: 50%;

    background: rgba(0,0,0,0.55);
    color: white;

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.2s ease;

    z-index: 5;
}

/* APARECE EN HOVER */
.archivo-item:hover .btn-eliminar {
    opacity: 1;
    transform: scale(1);
}
/* =========================
 FIN ARCHIVO
========================= */


/* =========================
 PANTALLA CALENDARIO
========================= */
/* BODY CALENDARIO */
body.calendario {
    overflow: hidden;
}

body.calendario .container.app {
    border-radius: 20px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
}

/* HEADER */
.menu-header,
.buscador {
    flex-shrink: 0;
}

.menu-header {
    padding-top: 45px;
    padding-bottom: 55px;
}

.titulo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    margin-bottom: 15px; 
}

.icon-header {
    width: 18px;
}

/* BUSCADOR */
.buscador {
    width: 100%;
    max-width: 360px;

    margin: 0 auto 20px; 

    display: flex;

    justify-content: center; 
    align-items: center;     

    background: #2c2c2c;
    border-radius: 25px;
    overflow: hidden;
}

.buscador input {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    font-size: 12px;
}

.buscador button {
    width: 45px;
    background: #5fd14f;
    border: none;
}

/* CONTENEDOR SCROLL */
#contenedorCalendarios {
    flex: 1;
    overflow-y: auto;

    height: 0; 
    min-height: 0;

    padding: 10px 8px 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* SCROLL SOLO COLOR (SIN DAÑAR NADA) */

#contenedorCalendarios::-webkit-scrollbar {
    width: 4px;
}

#contenedorCalendarios::-webkit-scrollbar-track {
    background: transparent; 
}

#contenedorCalendarios::-webkit-scrollbar-thumb {
    background: rgba(95, 209, 79, 0.6); 
    border-radius: 10px;
}

#contenedorCalendarios::-webkit-scrollbar-thumb:hover {
    background: rgba(95, 209, 79, 0.9);
}

/* MES */

.mes-bloque {
    width: 90%;
}

.mes-titulo {
    text-align: center;
    color: #5fd14f;
    font-size: 14px;
    margin-bottom: 10px;
}

/* DIAS SEMANA */
.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-bottom: 6px;

    text-align: center;
    font-size: 12px;
    color: #5fd14f;
}

/* GRID CALENDARID */
.calendario-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: 8px; 
    width: 90%;
}
/* DIA */
.dia {
    aspect-ratio: 1 / 1;

    min-width: 38px;   
    max-width: 50px;   

    border: 1px solid #5fd14f;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 13px;

    cursor: pointer;
}

.vacio {
    border: none;
}

.dia:hover {
    background: rgba(95, 209, 79, 0.2);
}

.dia.activo {
    background: rgba(95, 209, 79, 0.25);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.85);

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal-box {
    background: #111;
    padding: 20px;
    border-radius: 16px;

    width: 320px;
    max-width: 90%;
    text-align: center;
}

.modal textarea,
.modal input,
.modal select {
    width: 90%;
    margin-bottom: 10px;

    background: #222;
    color: white;
    border: none;

    padding: 8px;
    border-radius: 8px;
}

/* BOTONES */
.grupo-botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grupo-botones button {
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.grupo-botones button:first-child {
    background: #5fd14f;
    color: black;
}

.grupo-botones button:last-child {
    background: #333;
    color: white;
}

/* EVENTOS CALENDARIO */
.dia {
    position: relative;
}

/* puntico indicador */
.dia.activo::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5fd14f;
}
/* =========================
 FIN CALENDARIOS
========================= */

/* =========================
   PANTALLA METRICAS 
========================= */
.metricas {
    flex: 1;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;

    justify-content: flex-start;
    padding-top: 40px;
}

/* HEADER */
.menu-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.titulo-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: #fff;
}

.icon-header {
    width: 18px;
}

/* LOGO */
.logo-instagram {
    width: 260px; 
    max-width: 90%; 
    display: block;
    margin: 10px auto 20px;
}

/* FILA SUPERIOR */
.fila-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #5fd14f;
    font-size: 12px;

    margin-top: 25px; 
}

/* ITEMS */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-size: 14px;

    padding: 8px 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);

    transition: 0.2s;
}

.item:hover {
    color: #5fd14f;
}

/* VALORES */
.valor {
    font-weight: bold;
}

/* REDES */
.redes {
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    gap: 18px;
}

/* ICONOS */
.redes img {
    width: 34px;
    cursor: pointer;
    transition: 0.25s;
    opacity: 0.6;
}

/* ACTIVO */
.redes img.activa {
    transform: scale(1.15);
    opacity: 1;
    filter: drop-shadow(0 0 6px #5fd14f);
}

/* TEXTO */
.texto-redes {
    text-align: center;
    color: #777;
    font-size: 12px;
    margin-top: 6px;
}

/* TOAST */
#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #5fd14f;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    opacity: 0;
    transition: 0.3s;
}

#toast.show {
    opacity: 1;
}
/* =========================
   FIN METRICAS 
========================= */


/* =======================
   PANTALLA BLOCKNOTAS
========================= */
/* BOTÓN + */
.zona-agregar {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 5px;
}

.btn-mas {
    width: 45px;
    cursor: pointer;
}

/* CONTENEDOR SCROLL */
.zona-notas {
    flex: 1;

    overflow-y: auto;

    height: 0;
    min-height: 0;

    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* SCROLL FINO */
.zona-notas::-webkit-scrollbar {
    width: 4px;
}
.zona-notas::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

/* ESTADO VACÍO */
.estado-vacio {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}

/* MODAL OCULTO */
.modal {
    display: none;

    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.85);

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal.activo {
    display: flex;
}

/* NOTAS */
.nota {
    width: 100%;
    max-width: 340px;

    background: #1a1a1a;
    padding: 12px;
    border-radius: 12px;

    color: white;
    font-size: 13px;
}

/* BOTONES INFERIORES */
.zona-botones {
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.papelera {
    width: 30px;
    opacity: 0.7;
}
/* =======================
   FIN BLOCKNOTAS
========================= */
